html,
button,
input,
select,
textarea {
  color: #454545;
  font-family: sans-serif; }

body {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #e5e5e5;
  text-shadow: none; }

::selection {
  background: #e5e5e5;
  text-shadow: none; }

/* ==========================================================================
   Custom styles
   ========================================================================== */
html {
  background-color: #EFEFEF; }

section, header, footer {
  display: block; }

header {
  background: inherit;
  max-width: 600px;
  margin: 0 auto;
  text-align: center; }
  header h1 {
    font-size: 5em; }

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }
nav li.tile {
  display: inline;
  padding: 0 2px; }
nav a.btn {
  padding: 10px 30px;
  font-size: 19px;
  text-decoration: none;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box; }
  nav a.btn.blue {
    background-color: #3498db;
    -webkit-transition: 0.25s all ease;
    -moz-transition: 0.25s all ease;
    -o-transition: 0.25s all ease;
    transition: 0.25s all ease; }
    nav a.btn.blue:hover {
      background-color: #5bc0de;
      -webkit-transition: 0.25s all ease;
      -moz-transition: 0.25s all ease;
      -o-transition: 0.25s all ease;
      transition: 0.25s all ease; }
  nav a.btn.green {
    background-color: #1abc9c;
    -webkit-transition: 0.25s all ease;
    -moz-transition: 0.25s all ease;
    -o-transition: 0.25s all ease;
    transition: 0.25s all ease; }
    nav a.btn.green:hover {
      background-color: #57c9ae;
      -webkit-transition: 0.25s all ease;
      -moz-transition: 0.25s all ease;
      -o-transition: 0.25s all ease;
      transition: 0.25s all ease; }

/* ==========================================================================
   Footer
   ========================================================================== */
html, body {
  height: 100%; }

.wrap {
  min-height: 100%;
  margin-bottom: -30px; }
  .wrap:after {
    content: "";
    display: block; }

.footer, .wrap:after {
  height: 30px; }

.footer {
  background-color: #D8D8D8;
  color: #999999;
  font-size: 15px;
  padding: 0; }

div.row {
  width: 100%;
  text-align: center;
  padding-top: 4px; }
  div.row a {
    text-decoration: none;
    color: inherit; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }
