html,
button,
input,
select,
textarea {
  color: #DEDEDE;
  font-family: sans-serif; }

body {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #a0a3a7; }

::selection {
  background: #a0a3a7; }

/* ==========================================================================
   Custom styles
   ========================================================================== */
html {
  background-color: #282829; }

section, header, footer {
  display: block; }

header {
  background: -webkit-linear-gradient(63deg, #999999 23%, transparent 23%) 7px 0, -webkit-linear-gradient(63deg, transparent 74%, #999999 78%), -webkit-linear-gradient(63deg, transparent 34%, #999999 38%, #999999 58%, transparent 62%), #444444;
  background: -moz-linear-gradient(63deg, #999999 23%, transparent 23%) 7px 0, -moz-linear-gradient(63deg, transparent 74%, #999999 78%), -moz-linear-gradient(63deg, transparent 34%, #999999 38%, #999999 58%, transparent 62%), #444444;
  background: -o-linear-gradient(63deg, #999999 23%, transparent 23%) 7px 0, -o-linear-gradient(63deg, transparent 74%, #999999 78%), -o-linear-gradient(63deg, transparent 34%, #999999 38%, #999999 58%, transparent 62%), #444444;
  background: linear-gradient(63deg, #999999 23%, transparent 23%) 7px 0, linear-gradient(63deg, transparent 74%, #999999 78%), linear-gradient(63deg, transparent 34%, #999999 38%, #999999 58%, transparent 62%), #444444;
  border-top: 12px solid #282829;
  background-size: 16px 48px;
  margin: 0 auto;
  text-align: center;
  background-attachment: fixed;
  padding: 100px 0 100px; }
  header h1 {
    font-size: 5em;
    text-shadow: 0 2px 3px rgba(40, 41, 42, 0.6), 0 4px 0 rgba(150, 150, 150, 0.5), 0 9px 5px rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }
nav li.tile {
  display: inline;
  padding: 0 2px; }
nav a.btn {
  padding: 10px 30px;
  font-size: 19px;
  text-decoration: none;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box; }
  nav a.btn.blue {
    background-color: #4c4c4c;
    -webkit-transition: 0.25s all ease;
    -moz-transition: 0.25s all ease;
    -o-transition: 0.25s all ease;
    transition: 0.25s all ease; }
    nav a.btn.blue:hover {
      background-color: #afafaf; }
    nav a.btn.blue:active {
      background-color: #787878;
      color: rgba(255, 255, 255, 0.75); }
  nav a.btn.green {
    background-color: #4c4c4c;
    -webkit-transition: 0.25s all ease;
    -moz-transition: 0.25s all ease;
    -o-transition: 0.25s all ease;
    transition: 0.25s all ease; }
    nav a.btn.green:hover {
      background-color: #b0b0b0; }
    nav a.btn.green:active {
      background-color: #787878;
      color: rgba(255, 255, 255, 0.75); }

p.content {
  max-width: 960px; }

/* ==========================================================================
   Footer
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }
